body {
  background-color: antiquewhite;
  color: rgb(74, 63, 50);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100%;
}

.main {
  flex-direction: column;
  display: flex;
  background-color: rgb(74, 63, 50);
  border: rgb(36, 31, 26) 3px solid;
  border-radius: 2%;
  width: 400px;
  min-width: 90%;
  margin: 25px;
}

.margen {
  padding: 20px 20px 20px 20px;
}

#resultado {
  font-size: large;
  color: antiquewhite;
  text-align: center;
}

h1 {
  text-align: center;
  color: antiquewhite;
}
.cuadro,
.botones,
.resultado {
  display: flex;
  justify-content: center;
}

input {
  border: rgb(36, 31, 26) 2px solid;
  margin-left: 10px;
}

button {
  background-color: rgb(74, 63, 50);
  color: antiquewhite;
  border: rgb(36, 31, 26) 2px solid;
  font-weight: bold;
  padding: 5px 30px 5px 30px;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
}

.ejercicios a {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  margin-bottom: 10px;
}

a:hover {
  color: black;
}

@media (max-width: 680px) {
  button {
    padding: 5px 15px;
    font-size: 12px;
  }

  input {
    width: 65px;
    flex-wrap: wrap;
  }

  .botones {
    flex-wrap: wrap;
  }

  .cuadro {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 25px;
  }
}
